*{
    margin: 0px;
    padding: 0px;
}

h1{
    color: white;
    
    padding: 50px;
    padding-left:50px;
}
.logo{
    height: 300px;
    width: 700px;
    margin-top: 15%;
    margin-left: 25%;
    border: 3px solid white;
}
.first{
    background-color: aqua;
}